html, body {
  width: 100%; height: 100%;
  padding: 0; margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.content-container {
  padding: 20;
}

@import "menu.less";
@import "classify.less";
@import "review.less";
