<div class="canvas masonry image-stream">
  <a class="masonry-item" href="#">
    <svg width="100%" xmlns="http://www.w3.org/2000/svg">
      <image xlink:href="http://i.imgur.com/RIje5qJ.jpg" width="100%" height="100%" preserveAspectRatio="xMaxYMin meet" />
    </svg>
  </a>
  <a class="image-panel" href="#">
    <svg width="100%" xmlns="http://www.w3.org/2000/svg">
      <image xlink:href="http://i.imgur.com/RIje5qJ.jpg" width="100%" height="100%" preserveAspectRatio="xMaxYMin meet" />
    </svg>
  </a>
  <a class="image-panel" href="#">
    <svg width="100%" xmlns="http://www.w3.org/2000/svg">
      <image xlink:href="http://i.imgur.com/RIje5qJ.jpg" width="100%" height="100%" preserveAspectRatio="xMaxYMin meet" />
    </svg>
  </a>
  <a class="image-panel" href="#">
    <svg width="100%" xmlns="http://www.w3.org/2000/svg">
      <image xlink:href="http://i.imgur.com/RIje5qJ.jpg" width="100%" height="100%" preserveAspectRatio="xMaxYMin meet" />
    </svg>
  </a>
</div>
<script id="ImagePanel" type="text/x-handlebars-template">
  <a class="image-panel" href="#{{id}}">
    <svg width="100%" xmlns="http://www.w3.org/2000/svg">>
      <rect x="10" y="10" width="100" height="100" />
      <image xlink:href="{{data}}" x="0" y="0" width="100%" />
    </svg>
  </a>
</script>
