<div class="canvas masonry image-stream">
  <a class="masonry-item" href="#">
    <svg width="100%" xmlns="http://www.w3.org/2000/svg">
      <image xlink:href="http://i.imgur.com/RIje5qJ.jpg" width="100%" height="100%" preserveAspectRatio="xMaxYMin meet" />
    </svg>
  </a>
  <a class="image-panel" href="#">
    <svg width="100%" xmlns="http://www.w3.org/2000/svg">
      <image xlink:href="http://i.imgur.com/RIje5qJ.jpg" width="100%" height="100%" preserveAspectRatio="xMaxYMin meet" />
    </svg>
  </a>
  <a class="image-panel" href="#">
    <svg width="100%" xmlns="http://www.w3.org/2000/svg">
      <image xlink:href="http://i.imgur.com/RIje5qJ.jpg" width="100%" height="100%" preserveAspectRatio="xMaxYMin meet" />
    </svg>
  </a>
</div>
<script id="ImagePanel" type="text/x-handlebars-template">
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/snap.svg/0.3.0/snap.svg-min.js"></script>
<script src="/js/review.js"></script>
