html, body {
  width: 100%; height: 100%;
  padding: 0; margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.btn {
  position: absolute;
  margin: 0; padding: 5px;
  border: 1px solid #000;
  cursor: pointer;
}

.img-fill {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  cursor: crosshair;
}

.img-fill svg {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.debug-info {
  display: none;
  position: absolute;
  padding: 8px;
  text-align: right;
  color: #eee;
  background: #222;
  border: 1px solid #555;
}


@media screen and (orientation:portrait) {
  .canvas { width: 100%; height: 92%; }
  .debug-info { top: 0; left: 0; }
  .btn-1 { bottom: 0; left: 0; width: 50%; height: 8%; }
  .btn-2 { bottom: 0; right: 0; width: 50%; height: 8%; }
}
@media screen and (orientation:landscape) {
  .canvas { width: 92%; height: 100%; }
  .debug-info { top: 0; right: 0; margin-right: 9%; }
  .btn-1 { right: 0; top: 0; width: 8%; height: 50%; }
  .btn-2 { right: 0; bottom: 0; width: 8%; height: 50%; }
}
